@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    margin:0px;
    padding:0px;
    
}
html {
    scroll-behavior: smooth;
}
body{
    /* color:#050505 !important; */
    font-family: 'Roboto', sans-serif;
    /* background:#111214 !important; */
    background:#050505 !important;
    position: relative;
    box-sizing: border-box;
}
.shapes-pack{
    display:block ;
}
.shapes-pack-sm{
    display: none;
}
.contain{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height:100vh;
}
.home-img{
    position:relative;
}
.welcome-txt{
    color:#f1f1f1;
    font-size:55px;
    font-family: 'Roboto', sans-serif;
}
.welcome-txt-pack{
    display:flex;
    flex-direction:column;
    align-content: space-between;
    height:80%;
}

.bdr-hl{
    border:1px solid red;
}
.explore-btn{
    /* background: #15bfea !important; */
    color:#f1f1f1 !important;
    font-size:20px;
    font-weight: 400;
    text-decoration: none;
}
.brand-dot-in{
    color:white !important;
    font-size:18px;
    margin-left:1px;
}
.head-txt{
    font-size: 60px;
    font-weight: 500;
    text-transform:capitalize !important;
    font-family: 'Pacifico', cursive;
    font-weight:700;
    z-index:999;
}
#about{
    background:#ffffff;
    height:100vh;
    position: relative !important;
    background-image: url(../img/waves-ani.svg);
    background-repeat: no-repeat;
}
/* .inner{
    height:494px;
    position: absolute;
    bottom:0px;
    z-index:8;
    background-image: url(../img/waves-ani.svg);
} */
.txt-blue{
    /* color:#1c76e8; */
    color:#15bfea;
}
.svg-icon {
    width: 120px;
    height: 120px;
}
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #4691f6;
}
.profile-cards-pack{
    height: 400px;
}
.abt-logo-div{
    padding:0px 12px 0px;
}
.abt-desc-div{
    padding:0px 20px;
}
.abt-txt-row{
    z-index:11;
    height:100%;
    padding: 50px 0px;
}
.pf-h-txt{
    color:#fb4a1e;
}
.abt-txt-box{
    z-index:10;
    background:#ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    
    border-radius: 5px;
    padding:20px 0px 20px;
    border: 2.5px solid #b7ebf9;
}
#home{
    height:100vh;
    border:0.5px solid black;
}
.pf-pack{
    /* padding:50px 0px 50px; */
    height:500px;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
}
.svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
}
canvas{ 
    display: block;
    /* vertical-align: bottom; */
}
.para-about{
    color:#838383;
    font-weight:400;
    font-size:16px;
    /* font-family: 'Roboto', sans-serif; */
    /* text-align: center; */
    width: 70%;
    top: 20%;
    left: 50%;
    position: relative;
    transform: translate(-50%, 20%);
}
#particles-js{ 
    position:fixed; 
    width: 100%; 
    height: 100%; 
    background-color: none; 
    background-repeat: no-repeat; 
    background-size: 20%; 
    background-position: 50% 50%; 
} 
.row{
    position:relative !important;
}
#gradientR{
    background:#ce2028;
}
#gradientB{
    background:#15bfea;
}
#gradientY{
    background:#fdcc0e;
}
#gradientG{
    background:#03c03d;
}
section{
    height: 100vh;
    position: relative;
    scroll-snap-align: start;
}
.skills-atxt{
    position:absolute;
    color:#ffffff;
    top:7%;
    left:50%;
    transform: translate(-50%,-50%);
}
.skills-mobile{
    display:none;
}

.home-welcome-div{
    margin:150px 0px 130px;
    color:#ffffff;
} 
.profile-summery{
    /* color:#f1f1f1; */
    font-size:25px;
    font-weight:300;
    margin-top:50px;
}
.typewriter {
    color: #ffffff;
    font-size:55px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #ffffff; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .15em; /* Adjust as needed */
    animation: typing 3.5s steps(30, end),blink-caret .5s step-end infinite;
}
.skills-g-svg{
    width:100%;
}
.skills-km-link{
    text-decoration:none;
    color:#212529;
}
.skills-km-link {
    color:#212529;
}         
.skills-km-link:visited {
    color:#212529;
} 
.skills-km-link:hover {
    color:#212529;
}
.skills-km-link:active {
    color:#212529;
} 
.skills-gd-svg{
    position:absolute !important;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.skill-svg-pack-btm{
    position:absolute !important;
    top:350px;
}
.cap-ltr{
    font-size:45px;
    font-weight:500;
    margin-left:10px;
}
#skills{
    background:none;
    background-image: url(../img/skills-top.svg);
    background-repeat: no-repeat;
}
#portfolio{
    background-image: url(../img/circle-ani.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width:100%;
}
#edu-interest{
    background-image: url(../img/commit.svg);   
}

.foot-txt-hds{
    font-size: 13px;
    font-weight: 600;
    list-style-type: none;
    padding-left: 0px !important;
    margin-bottom: 25px;
    position: relative;
    top: 67px;
    text-transform: uppercase;
    /* text-align: left; */
}
.foot-li{
    font-size:10px;
    font-weight:400;
    padding-bottom:15px;
    padding-left:0px !important;
}
#footer{
    position:relative;
    background-image: url(../img/footer-wave.svg);
    background-repeat:no-repeat;
}
#footer-logo-pack{
    position: relative !important;
}
.footer-logo{
    display: inline-block;
    position: relative;
    height: 70px;
    width: 200px;
}
.signup-pack{
    padding:50px 0px 50px;
}
.signup-box{
    padding:7px 12px 7px;
    z-index:10;
    background:#ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    
    border-radius: 5px;
    border:3px solid #e0e0e0;
}
.footer-cont{
    position:absolute;
    /* background-color: #050505;  */
    /* background-color: none; */
    bottom:0;
    padding-top:10px;
    left:50%;
    top:50%;
    width: 100%;
    height: 40%;
    transform:translate(-50%,-11%);
    /* background-image: url(../img/foot-top.svg);
    background-repeat: no-repeat; */
}
.foot-comp-intro{
    font-size:9.5px;
    width:100%;
}
.nl-fld{
    background:transparent !important;
    background-color:none !important;
    border: 1px solid #ffffff !important;
    color:#ffffff !important;
}
.nl-btn{
    background:#0171fe;
    border:none;
    color:#ffffff;
    padding:5px 8px;
    font-size:12px;
    margin-top:10px;
    border-radius:3px;
    font-weight:600;
    float:right;
    float:clear;
}
.newsletter-pack ::placeholder{
    color:#ffffff !important;
    font-size:14px;
}
#nlalert-txt{
    display: none;
    font-size:10px;
    font-weight:400;
}
#nlblank{
    display: none;
    font-size:10px;
    font-weight:400;
}
a{
    text-decoration: none !important;
}
.prof-head{
    font-size:18px;
    font-weight:800;
    text-transform: uppercase;
    text-align: center;
    margin-bottom:0px !important;
}
.prof-roles{
    color:#838383;
    font-size:14px;
    text-align: center;
    font-weight:300;
    margin-left:5px;
    line-height:15px;
}
.txt-orange{
    color:#ff8000;
}
.fa-icons{
    font-size:90px;
    color:#15bfea;
}
.skills-item{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width:220px;
    height:240px;
	padding: 20px;
	box-sizing: border-box;
	margin: 30px;
	position: relative;
	background: #fff;
	border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	cursor: pointer;
}
.skills-item-sm{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width:100px;
    height:100px;
	padding: 5px;
	box-sizing: border-box;
	margin: 0px;
	position: relative;
	background: #fff;
	border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	cursor: pointer;
}
.curly-symbol{
    color:#15bfea;
    font-size:14px;
    font-weight:900;
    text-align: left;
}
.skills-item h3{
text-align: center;
}
.skills-item p{
	color: #050505;
	text-align: center;
}
.button{
	width: 110px;
	height: 40px;
	border-radius:5px;
	display: flex;
	justify-content: center;
	align-items: center;
	color:#03c03d;
	margin-top:10px;
    margin-bottom:20px; 
}
.bar{
	width: 200px;
	height: 10px;
	position: absolute;
	left: 50%;
	bottom: 0%;
	transform: translateX(-50%);
	background-color:#03c03d; 
	border-radius: 10px 10px 0px 0px;
	display: none;
	animation: bar 0.5s;
}
.button:hover{
	background-color:#03c03d;
	/* border: 1px solid #03c03d; */
	color:#FFFFFF;
	transition: all ease 0.3s;
}
.skills-item:hover .bar{
	display: block;
}
.edu-box{
    z-index:10;
    background:#ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    
    border-radius: 5px;
    padding:20px;
    border:2px solid #ffa74e;
}
.inter-box{
    z-index:10;
    background:#ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    
    border-radius: 5px;
    padding:15px 30px;  
}
.edu-title{
    font-size: 18px;
    font-weight: 500;
}
.edu-desc{
    color: #838383;
    font-weight: 400;
    font-size: 14px;
    /* font-family: 'Roboto', sans-serif; */
}
.int-title{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-bottom:0px;
}
.edu-tile-pack {
    height:500px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
.int-tile-pack{
    height:500px;
}

.wrap a{
    text-decoration: none;
    color:#ffffff;
    font-size:12px;
    background:#fdcc0e;
    padding:3px 8px;
    border-radius:3px;
    font-weight:500;
    align-self: end;
}

.ne-arrow{
    font-size:14px;
    font-weight:500;
}
.port-quote{
    font-weight: 400;
    font-size: 14px;
    font-weight:500;
    font-style: italic;
    color:#ffffff;
    width: 60%;
    top: 20%;
    left: 50%;
    position: relative;
    transform: translate(-50%, 20%);
    text-align: center;
    
}
.port-quote p:first-child{
    margin-bottom:0px !important;
}
.quote-author{
    text-align:right;
}
.port-card{
    position: relative;
    background:#ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    
    border-radius: 5px;
    padding:30px;
    margin: 10px;
    width: calc((100% / 3) - 25px );  
    height: 350px;
    overflow: hidden;
    cursor:pointer;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 60px !important;
    height: 60px !important;
}

.port-card .box::before,.port-card .box::after{
    content: '';
    position: absolute;
    top: 10px;left: 10px;right: 10px;bottom: 10px;
    transition: 1s;
    z-index: 2;
}
.port-card .box::before{
    transform: scale(1,0); 
    border-left: 2px solid #fdcc0e;
    border-right: 2px solid #fdcc0e;
}
.port-card .box::after{
    transform: scale(0,1);
    border-top: 2px solid #fdcc0e;
    border-bottom: 2px solid #fdcc0e;
}
.port-card .box:hover::before,.port-card .box:hover::after{
    transform: scale(1,1);
}
.port-card .box .content{
    position: absolute;
    top: 0;  
    left: 0;
    width: 100%;  
    height: 100%;
    background: rgba(0,0,0,0);
    /* display: flex;
    justify-content: center;   
    align-items: center; */
    transition: 1s;

}
.port-card .box:hover .content{
    background: rgba(0,0,0,.7);
}
.port-card .box .content .wrap{
    box-sizing: border-box;
    padding: 20px;
    color: #fff;
    z-index: 3;
}
.port-card .box .content .wrap p{
    position: relative;
    transform: translateY(170px);
    opacity: 0;
    transition: .5s;
}
.port-card .box:hover .content .wrap p{
    transform: translateY(0px);
    opacity: 1;
}
.port-card .box .content .wrap a{
    position: relative;
    transform: translateY(170px);
    opacity: 0;
    transition: .5s;
}
.port-card .box:hover .content .wrap a{
    transform: translateY(0px);
    opacity: 1;
}
.box{
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
}
.project-title{
    margin-bottom:20px;
    font-weight:600;
    font-size:20px !important;
}
.project-desc{
    font-size:14px;
    font-weight:300;
}
.wrap{
    height:100%;
    display: flex;
    flex-direction: column !important;
    justify-content:end;
    place-items: start;
    /* align-items: flex-end !important; */
}
#med{
    background-image:url(../img/med.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#gorgeous{
    background-image:url(../img/gorgeous.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#bio{
    background-image:url(../img/bio.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#read{
    background-image:url(../img/read.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#tbk{
    background-image:url(../img/tbk.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#forkworks{
    background-image:url(../img/forkworks.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#onlineLed{
    display:none;
    margin-bottom:10px;
}
#busyLed{
    display:none;
    margin-bottom:10px;
}
#offlineLed{ 
    display:none;
    margin-bottom:10px;
}
.status-text{
    font-weight:400;
    font-size:11px;
}
#userStatusonline{
    display:none;
}
#userStatusoffline{
    display:none;
}
.inter-svg-icons{
    height:100px;
    width:100px;
}
.inter-rows{
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
}
.abt-txt-row{
    display: flex;
    flex-direction:column;
    justify-content: space-between !important;
}
.profile-card-sm{
    display: none;
    
}
.carousel-small{
    display: none;
}
.carousel-big{
    display: block;
}
.sk-card{
    background:#ffffff;
    padding:8px;
    border-radius:5px;
    box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px;
    margin-bottom:20px;
}
.interest-pack-sm{
    display:none;
    background: #FF8000;
}
.chat-head{
    color:#838383;
    font-size:30px;
    text-align: center;
    text-transform:capitalize !important;
    font-family: 'Pacifico', cursive;
    font-weight:700;
    margin-bottom:0px;
    z-index:99;
}
.abt-txt-row-sm{
    display: none;
}

.accordion-button::after {
    width: 20px;
    height: 20px;
}
.tab-blobs-div{
    display:none;
}
.blobs-def-div{
    display: block;
}
/* .footer-credit-links{
    text-decoration:none;
    color:inherit;
    text-transform: capitalize;
    font-size:12.5px;
    font-weight:500;
} */
.footer-credit-links:visited {
    color:inherit;
} 
.footer-credit-links:hover {
    color:inherit;
}
.footer-credit-links:active {
    color:inherit;
} 
.footer-comp-info{
    padding:30px 0px 15px;
    font-weight:500;
    font-size:15px;
    color:#212529;
    
}
.footer-comp-info-pack{
    background:#ffffff;
    border: 3px solid #e0e0e0;
    position:relative;
    bottom:-55px;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
}
.text-right{
    text-align:right;
}
.cpyrt-txt{
    text-align:center;
}


@keyframes bar{
	0%{
		width:0px;
	}
	100%{
		width:200px;
	}
}
@media(max-width:1050px){
	.skills-item-container{
		flex-wrap: wrap;
		
	}	
	.services{
		height: auto;
	}
	.s-heading{
		margin: 15px;
	}
	.skills-item{
		flex-grow: 1;
	}
	
}






  /* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: none; }
}


@media screen and (max-width:800px){
    .profile-summery{
        margin-top:30px;
        font-size:18px;
        text-align:center;
    }
    .cap-ltr{
    font-size:30px;
    }
    .typewriter{
        text-align:center;
        font-size:40px;
    }
    .explore-btn{
        margin-top:20px;
        align-self:center;
    }
    .tab-blobs-div{
        display:block !important;
    }
    /* .blobs-def-div{
        display: none;
    } */
    .home-welcome-div {
        margin: 20px 0px 0px;
    }
    .flex-col-mobile{
        display:flex;
        flex-direction:column;
        justify-content: center;
    }
    .head-txt{
        font-size:30px;
    }
    .para-about{
        font-size:16px;
        width: 100%;
        text-align:justify;
        transform: translate(-50%, 15%);
    }
    

} 


/*for screen sizes less than 430px media queries Start from here */
@media screen and (max-width: 500px){
    section{
        scroll-snap-type: none;
    }
    .padding-tb{
        padding: 25px 0px 25px;
    }
    .profile-summery{
        font-size:17px;
        text-align:center;
        margin-top:20px;
    }
    .welcome-txt{
        font-size: 23px;
        margin-top: 35px;
        text-align:center;
    }
    .cap-ltr{
        font-size:18px
    }
    .explore-btn{
        font-size:18px;
        text-align:center !important;
    }
    .head-txt{
        font-size:32px;
    }
    .typewriter{
        text-align:center;
    }
    .skills-item{
        padding: 15px;
    }
    .abt-txt-box{
        flex-direction:column;
        padding:10px;
        border:none;
    }
    .profile-cards-pack{
        /* height: auto; */
        flex:1 !important;
    }
    .abt-desc-div{
        padding:0px;
        line-height: initial;
        text-align: left;
    }
    .prof-roles{
        font-size:12px;
    }
    .prof-svg-icons{
        height:50px;
        width:50px;
    }
    .prof-head{
        font-size: 16px;
        line-height: 12px;
        text-align: center;
        font-weight: 600;
    }
    .profile-summery{
        width:100%;
        text-align: center;
        font-size: 18px;
        margin-top: 40px;
    }
    .para-about{
        width: 100%;
        font-size: 13.5px;
        font-weight: 600;
        text-align: justify;
        transform: translate(-50%,10%);
        line-height: initial;
        color:#050505;
    }
    .shapes-pack{
        display: none ;
    }
    .shapes-pack-sm{
        display: block;
    }
    .home-welcome-div{
        margin-top:50px;
        margin-bottom:50px;
    }
    .contain{
        scroll-snap-type:none;
    }
    .edu-title{
        font-size:16px;
    }
    .edu-box {
        padding: 10px;
        height:135px;
    }
    .edu-desc{
        font-size:12px;
    }
    .edu-tile-pack{
        justify-content: space-evenly !important;
        padding-bottom:30px;
    }
    .inter-svg-icons{
        height:64px;
        width:64px;
    }
    .inter-box{
        padding:15px;
        text-align: center;
        width:120px;
    }
    .inter-rows{
        flex-direction:column;
    }
    #edu-interest{
        height:auto;
    }
    .interest-pack{
        margin-top:150px !important;
    }
    .welcome-blobs{
        height:150px;
        width:150px;
    }
    .profile-summery br{
        display: none;
    }
    .cap-ltr{
        margin-left: 0px;
    }
    .explore-btn{
        align-self: center;
        margin-top:20px;
        font-size:12px;
    }
    .flex-col-mobile{
        display: flex;
        flex-direction:column;
    }
    #about{
        min-height:100vh;
        height:auto;
    }
    .profile-card-sm{
        display: block !important;
    }
    .abt-icon-div{
        display: none;
    }
    .abt-title-div{
        display: none;
    }
    .abt-txt-row{
        flex-wrap: wrap;
        align-content: space-between;
    }
    #skills{
        height:auto;
        background:#03c03d !important;
        padding-bottom:30px;
    }
    .skills-head{
        font-size:14px;
        font-weight:600;
        text-align:center;
        text-transform: uppercase;
        margin-top:15px;
        margin-bottom:10px !important;
    }
    .button{
        margin-bottom: 10px;
    }
    .carousel-small{
        display: block;
    }
    .carousel-big{
    display: none;
    }
    .port-card{
    margin:0px;
    }
    .port-quote{
        margin-top:40px;
        font-size:14px;
        width:100%;
    }
    .skills-mobile{
        display:block;
    }
    .skills-lg{
        display:none !important;
    }
    .skills-icons-svg-sm{
        height:100%;
        width:100%;
    }
    .control-prev-icon {
        width: 30px !important;
        height: 30px !important;
    }
    #about{
        background:none;
        background: linear-gradient(to bottom, #FFFFFF 0%, #A1E5F6 45%, #43CBEE 60%, #15BFEA 100%);
    }
    .edu-sec-sm{
        padding-bottom:30px !important;
    }
    .interest-pack-sm{
        display: block;
    }
    .interest-pack{
        display: none;
    }
    .int-title{
        font-size:12px;
    }
    .project-title{
        font-size:12px;
    }
    .project-desc{
        font-size:13       
    }
    .signup-pack {
        padding: 70px 0px 70px;
    }
    .signup-box{
        padding:7px 12px 7px;
    }
    .foot-comp-intro{
        width:100%;
        text-align:left;
    }
    .foot-txt-head{
        margin-bottom:15px;
    }
    .abt-txt-row-sm{
        display: block;
        margin-top:15px;
        height:62vh;
        display: flex;
        flex-direction:column;
        justify-content: space-evenly;
    }
    .abt-txt-row{
        display: none;
    }
    .accordion-item{
        padding:10px;
        border-radius:5px !important;
        box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px;
    }
    .accordion-body{
        padding:5px !important;
    }
    .home-tb-row{
        flex-direction: column-reverse;
    }
    .sm-txt-cent{
        text-align:center;
    }
    #footer-logo-pack{
        text-align:center;
    }
    .foot-txt-hds{
        text-align:center;
        margin-bottom: 35px;
    }
}